<ion-grid>
  <ion-row>
    <ion-col *ngFor="let element of propertyElements" size="12" size-md="6" size-xl="4">
      <ion-item button lines="none" detail="true">
        <ion-label>
          <p *ngFor="let prop of element" [class.title]="prop.isHeader">
            <span class="key">{{ prop.key }}:</span>
            <span class="value">
              <ng-container *ngIf="!prop.isArray && !prop.isObject">
                {{ prop.value }}
              </ng-container>
              <ion-chip *ngIf="prop.isObject" 
                [style.background]="prop.color" 
                [style.color]="prop.contrast">
                {{ prop.value }}
              </ion-chip>
              <span *ngIf="prop.isArray">
                <ion-chip *ngFor="let value of prop.value" 
                  [style.background]="prop.color" 
                  [style.color]="prop.contrast">
                  {{ value }}
                </ion-chip>
              </span>
            </span>
          </p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>